.layoutImage {
    /* background-image: url("/src/components/Public/Imgs/FondoLogin.jpg");  */
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100% 100%;
    justify-content: right !important;
    display: flex;
}

/* Consulta de medios para pantallas de celular */
@media only screen and (max-width: 767px) {
    .layoutImage {
        justify-content: center !important;
    }
}

.fragmentLogin {
    --height: 75%;
    display: flex;
    background-color: white;
    border-radius: 10%;
    justify-content: center !important;
    
}